<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UXUEUI_R0bot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF80739F1CBB8C6A00770818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF8073B31CBB8C6A00770818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF8073BE1CBB8C6A00770818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
